---
import "@/styles/globals.css";
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <script src="/htmx.min.js" is:inline></script>
    <script src="/alpine.min.js" defer is:inline></script>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body x-cloak :class="theme?'dark':''" x-data="{theme: false }" x-init="
  if (!document.cookie.includes('theme')) {
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        theme = true;
        document.cookie = 'theme=Bearer true;path=/';
      } else {
        theme = false;
        document.cookie = 'theme=Bearer false;path=/';
      }
} else if (document.cookie.includes('theme=Bearer true')) {
	theme = true;
} else if (document.cookie.includes('theme=Bearer false')) {
	theme = false;
}; htmx.config.useTemplateFragments = true;">
    <slot />
  </body>
</html>
