---
import Layout from "../layouts/Layout.astro";
import { Button } from "@/components/ui/button";
import ThemeToggle from "../components/ThemeToggle.astro";

---

<Layout title="Welcome to Astro.">
  <main>
    <Button>Hello World</Button>
	<ThemeToggle />
  </main>
</Layout>
